NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_BASE_URL=http://localhost:3000

ADMIN_PASSWORD=
DEBUG_API_TOKEN=
DELIVERY_FEE_RON=20

RESEND_API_KEY=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_CLARITY_ID=

NEXT_PUBLIC_INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
INSTAGRAM_REDIRECT_URI=

TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=

NEXT_PUBLIC_TEMPLATE_CLIENT_ID=
